<!DOCTYPE html>
<html>
<head>
  <title>Conversion Complete</title>
</head>
<body>
    <h1>Conversion Complete!</h1>
    <p>Excel file is ready: <a href="/<%= @file %>">Download</a></p>
</body>
</html>
    